---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   12px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

a {
  color: #FF3300;
  text-decoration: none; }
  a:visited {
    color: #FF3300; }
  a:hover {
    color: #FF3300;
    text-decoration: underline; }

.button {
    display: block;
    height: 100px;
    width: 300px;
    background: #4d4d4d;
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.buttonTwo {
    display: block;
    height: 50px;
    width: 150px;
    background: #4d4d4d;
    text-align: center;
    font: bold 1.2em/50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

img {
    align: left;
}

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

#sidebar-wrapper
{
  margin-left:-250px;
  left:250px;
  width:250px;
  background:#f8f8f8;
  position:fixed;
  height:100%;
  overflow-y:auto;
  z-index:1000;
  margin-top:-4px;
  border-top:solid #d90006;
  transition:all .4s ease 0;
  border-width:4px
}

.sidebar-nav
{
  position:absolute;
  top:0;
  width:250px;
  list-style:none;
  margin:0;
  padding:30px 0 0
}

.sidebar-nav li
{
  line-height:30px;
  text-indent:40px;
  font-family:"Helvetica Neue", helvetica, "Open Sans", sans-serif;
  font-weight:200;
  color:#9c9c9c;
  text-shadow:1px 1px #fff
}

.sidebar-nav li a
{
  color:#999;
  display:block;
  text-decoration:none
}

.sidebar-nav li a:hover
{
  color:#000;
  background:#fff;
  text-decoration:none;
  transition:all .2s ease 0
}

.sidebar-nav li a:active,.sidebar-nav li a:focus
{
  text-decoration:none
}

.sidebar-nav > .sidebar-brand
{
  font-size:20px
}

.sidebar-nav > .sidebar-brand > h3
{
  font-size:15px;
  font-weight:100;
  co

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
